{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1 class="text-center">Количество животин в приюте: {{ object_list|length }}</h1>
        <div class="row row-cols-2">
            {% for animal in object_list %}
                <a class="list-group-item list-group-item-action" href="{{ animal.id }}/">
                    <div class="card ">
                        <div class="row no-gutters">
                            <div class="col-md-4 card-img">
                                {% if animal.photo %}
                                <img class="rounded-pill img-fluid" src="{{ animal.photo.url }}" alt="">
                                {% endif %}
                            </div>
                            <div class="card-body col-md-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Кличка: {{animal.name}}</li>
                                    <li class="list-group-item">Возраст: {{animal.age}}</li>
                                    <li class="list-group-item">Порода: {{animal.breed}}</li>
                                </ul>
                            </div>
                        </div>
                   </div>
                </a>
            {% endfor %}
            </div>
    </div>
{% endblock %}
