<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <title>Document</title>
        {% block bootstrap_header %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        {% endblock bootstrap_header %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" sizes="32x32">
    </head>
    <body>
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;" ii="footer">
            <div class="list-group list-group-horizontal mx-auto">
                <a href="/animal/" class="list-group-item list-group-item-action">Зверюшки</a>
                <p id="logo" class="col-8">Приют дикой зверушки</p>
                <a href="/about-us/" class="list-group-item list-group-item-action">О нас</a>
                <a href="/contacts/" class="list-group-item list-group-item-action">Контакты</a>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>
