{% extends 'base.html' %}
{% block content %}
<div class="container mx-auto">
        <H2>Добро пожаловать в наш приют!</H2>

        <p>
            Наша цель − помощь животным приюта и привлечение внимания к проблемам бездомных животных в целом.

Конечно, в первую очередь, мы хотим помочь обрести нашим подопечным свой дом и хозяев. Животных много, таких хороших и несчастных, а нас, волонтеров и помощников, так мало! Давайте поможем безнадзорным животным вместе! Спасите одну жизнь - возьмите домой средоточие радости и благодарности!
        </p>

</div>
{% endblock %}